USE [AP]
GO
/****** Object:  StoredProcedure [dbo].[ActivateVendor]    Script Date: 11/12/2025 12:28:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/11/2025
-- Description:	Activates a vendor
-- exec ActivateVendor @VendorID 9
-- =============================================

ALTER PROCEDURE [dbo].[ActivateVendor]
    @VendorID INT
AS
BEGIN
    UPDATE Vendors
    SET 
        IsActive = 1,
        DateUpdated = GETDATE()
    WHERE VendorID = @VendorID;

    SELECT VendorID, IsActive, DateUpdated
    FROM Vendors
    WHERE VendorID = @VendorID;
END;

