USE [AP]
GO
/****** Object:  StoredProcedure [dbo].[AddVendor]    Script Date: 11/11/2025 4:10:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Description:	Adds a vendor
-- exec AddVendor @VendorName = 'Fender Music Co.', @VendorAddress1 = '123 Guitar Ave', @VendorCity = 'Los Angeles', @VendorState = 'CA', @VendorZipCode = '90001', @VendorPhone = '555-555-1234', @VendorContactLName = 'Johnson', @VendorContactFName = 'Mark', @DefaultTermsID = 1, @DefaultAccountNo = 5001;
-- review terms ID and account no to add as a dropdown for adding a vendor
-- =============================================

CREATE PROCEDURE [dbo].[AddVendor]
    @VendorName NVARCHAR(100),
    @VendorAddress1 NVARCHAR(100),
    @VendorAddress2 NVARCHAR(100) = NULL,
    @VendorCity NVARCHAR(50),
    @VendorState NVARCHAR(50),
    @VendorZipCode NVARCHAR(20),
    @VendorPhone NVARCHAR(20),
    @VendorContactLName NVARCHAR(50),
    @VendorContactFName NVARCHAR(50),
    @DefaultTermsID INT,
    @DefaultAccountNo INT,
    @IsActive BIT = 1
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Vendors (
        VendorName, VendorAddress1, VendorAddress2, VendorCity, VendorState,
        VendorZipCode, VendorPhone, VendorContactLName, VendorContactFName,
        DefaultTermsID, DefaultAccountNo, IsActive, DateUpdated
    )
    VALUES (
        @VendorName, @VendorAddress1, @VendorAddress2, @VendorCity, @VendorState,
        @VendorZipCode, @VendorPhone, @VendorContactLName, @VendorContactFName,
        @DefaultTermsID, @DefaultAccountNo, @IsActive, GETDATE()
    );

    SELECT * FROM Vendors WHERE VendorID = SCOPE_IDENTITY();
END
