USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[CheckCustomerExists]    Script Date: 11/11/2025 4:03:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Description:	Checks if a customer already exists in the system
-- exec CheckCustomerExists @EmailAddress='example@example.com'
-- =============================================

CREATE PROCEDURE [dbo].[CheckCustomerExists]
    @EmailAddress NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Customers WHERE EmailAddress = @EmailAddress)
    BEGIN
        SELECT CAST(1 AS BIT) AS [DoesExist];
    END
    ELSE
    BEGIN
        SELECT CAST(0 AS BIT) AS [DoesExist];
    END
END

