USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[CreateOrderItem]    Script Date: 11/12/2025 1:44:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/12/2025
-- Description:	Creates an order item
-- exec CreateOrderItem
-- =============================================
CREATE PROCEDURE [dbo].[CreateOrderItem]
(
    @OrderID INT,
    @ProductID INT,
    @ItemPrice DECIMAL(10,2),
    @Quantity INT
)
AS
BEGIN
    INSERT INTO OrderItems (OrderID, ProductID, ItemPrice, Quantity)
    VALUES (@OrderID, @ProductID, @ItemPrice, @Quantity);
END;
