USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[CustomerRegister]    Script Date: 11/12/2025 2:18:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Description:	Creates a new customer account in the Customers table if the email doesn't already exist
-- exec CustomerRegister @EmailAddress='test@example.com', @Password='password123', @FirstName='John', @LastName='Doe', @ShippingAddressID=1, @BillingAddressID=1
-- =============================================

CREATE PROCEDURE [dbo].[CustomerRegister]
    @EmailAddress VARCHAR(255),
    @Password VARCHAR(255),
    @FirstName VARCHAR(50),
    @LastName VARCHAR(50),
    @ShippingAddressID INT = NULL,
    @BillingAddressID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- If email already exists, return a CustomerID of -1
    IF EXISTS (SELECT 1 FROM Customers WHERE EmailAddress = @EmailAddress)
    BEGIN
        SELECT 
            -1 AS CustomerID,
            @EmailAddress AS EmailAddress,
            @FirstName AS FirstName,
            @LastName AS LastName;
        RETURN;
    END

    -- Insert new customer
    INSERT INTO Customers (EmailAddress, Password, FirstName, LastName, ShippingAddressID, BillingAddressID)
    VALUES (@EmailAddress, @Password, @FirstName, @LastName, @ShippingAddressID, @BillingAddressID);

    -- Return the created customer row
    SELECT 
        CustomerID,
        EmailAddress,
        FirstName,
        LastName
    FROM Customers 
    WHERE CustomerID = SCOPE_IDENTITY();
END
