USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[CustomerLogin]    Script Date: 11/11/2025 4:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Description:	Authenticates a customer by verifying their email and password against the Customers table
-- exec CustomerLogin @EmailAddress='test@example.com', @Password='password123'
-- =============================================
CREATE PROCEDURE [dbo].[CustomerLogin]
    @EmailAddress NVARCHAR(255),
    @Password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CustomerID, EmailAddress, FirstName, LastName, ShippingAddressID, BillingAddressID
    FROM Customers
    WHERE EmailAddress = @EmailAddress AND Password = @Password;
END

