USE [AP]
GO
/****** Object:  StoredProcedure [dbo].[GetVendorById]    Script Date: 11/12/2025 12:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/12/2025
-- Description:	Deactivates a vendor
-- exec DeactivateVendor @VendorID 9
-- =============================================

CREATE PROCEDURE [dbo].[DeactivateVendor]
    @VendorID INT
AS
BEGIN
    UPDATE Vendors
    SET 
        IsActive = 0,
        DateUpdated = GETDATE()
    WHERE VendorID = @VendorID;

    SELECT VendorID, IsActive, DateUpdated
    FROM Vendors
    WHERE VendorID = @VendorID;
END;

