USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 11/11/2025 4:50:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Description:	Deletes a product
-- exec DeleteProduct
-- =============================================
CREATE PROCEDURE [dbo].[DeleteProduct]
	@ProductID int,
	@Delete bit
AS
BEGIN
	SET NOCOUNT ON;

	IF @Delete = 1
		DELETE FROM [dbo].[Products]
		WHERE ProductID = @ProductID
	ELSE
		UPDATE [dbo].[Products]
		SET [DateUpdated] = CURRENT_TIMESTAMP
		  ,[IsActive] = 0
		WHERE ProductID = @ProductID
END
