USE [AP]
GO
/****** Object:  StoredProcedure [dbo].[DeleteVendorByID]    Script Date: 11/11/2025 4:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Description:	Deletes a vendor by ID
-- exec DeleteVendorByID  @VendorID = 47
-- =============================================

CREATE PROCEDURE [dbo].[DeleteVendorByID]
    @VendorID INT,
	@Delete bit
AS
BEGIN
    SET NOCOUNT ON;

	IF @Delete = 1
		DELETE FROM Vendors
		WHERE VendorID = @VendorID;
	ELSE
		UPDATE [dbo].[Vendors]
		SET [DateUpdated] = CURRENT_TIMESTAMP,
		[IsActive] = 0
		WHERE VendorID = @VendorID
END
