USE [MyGuitarShop]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Description:	Authenticates an employee by verifying their email and password against the Administrators table
-- exec EmployeeLogin
-- =============================================
CREATE PROCEDURE [dbo].[EmployeeLogin]
    @EmailAddress NVARCHAR(255),
    @Password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        AdminID,
        FirstName,
        LastName,
        EmailAddress
    FROM Administrators
    WHERE EmailAddress = @EmailAddress
      AND Password = @Password;
END;

