USE [AP]
GO
/****** Object:  StoredProcedure [dbo].[GetAllVendors]    Script Date: 11/11/2025 4:22:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Description:	Gets all vendors
-- exec GetAllVendors
-- =============================================

CREATE PROCEDURE [dbo].[GetAllVendors]
AS
BEGIN
    SELECT VendorID, VendorName, VendorAddress1, VendorAddress2, VendorCity,
           VendorState, VendorZipCode, VendorPhone, VendorContactLName, VendorContactFName,
           DefaultTermsID, DefaultAccountNo, DateUpdated
    FROM Vendors;
END
