USE [MyGuitarShop]
GO

-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Updated:     11/19/2025 - Added CategoryName join and QuantityOnHand field
-- Description:	Gets all products with category names and inventory info
-- exec GetAllProducts
-- =============================================

-- Drop procedure if it exists
IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'GetAllProducts')
    DROP PROCEDURE [dbo].[GetAllProducts];
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllProducts]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT 
		p.[ProductID],
		p.[CategoryID],
		c.[CategoryName],
		p.[ProductCode],
		p.[ProductName],
		p.[Description],
		p.[ListPrice],
		p.[DiscountPercent],
		p.[ImageURL],
		p.[IsActive],
		p.[QuantityOnHand],
		p.[DateUpdated]
	FROM [MyGuitarShop].[dbo].[Products] p
	LEFT JOIN [MyGuitarShop].[dbo].[Categories] c ON p.CategoryID = c.CategoryID
END
