USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[GetBestSellers]    Script Date: 11/12/2025 3:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/12/2025
-- Description:	Gets best sellers
-- exec GetBestSellers
-- =============================================
CREATE PROCEDURE [dbo].[GetBestSellers]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 5 
        p.ProductID,
        p.ProductName,
        CAST(p.Description AS NVARCHAR(MAX)) AS Description,
        p.CategoryID,
        p.ListPrice,
        p.DiscountPercent,
		p.ImageURL,
		p.IsActive,
        SUM(oi.Quantity) AS TotalSold
    FROM Products p
    INNER JOIN OrderItems oi ON p.ProductID = oi.ProductID
    GROUP BY 
        p.ProductID,
        p.ProductName,
        CAST(p.Description AS NVARCHAR(MAX)),
        p.CategoryID,
        p.ListPrice,
        p.DiscountPercent,
		p.ImageURL,
		p.IsActive
    ORDER BY TotalSold DESC;
END

