USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerProfile]    Script Date: 11/12/2025 3:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/12/2025
-- Description:	Gets a customer profile by ID
-- exec GetCustomerProfile @CustomerID 450
-- =============================================
CREATE PROCEDURE [dbo].[GetCustomerProfile]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        c.CustomerID,
        c.FirstName,
        c.LastName,
        c.EmailAddress,
        a.Phone,
        a.City,
        a.State,
        a.ZipCode
    FROM Customers c
    LEFT JOIN Addresses a ON c.ShippingAddressID = a.AddressID
    WHERE c.CustomerID = @CustomerID;
END
