USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeDashboard]    Script Date: 11/12/2025 4:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/11/2025
-- Description:	Gets employee sales dashboard with summary totals and top 5 products
-- exec GetEmployeeDashboard 
-- =============================================
CREATE PROCEDURE [dbo].[GetEmployeeDashboard]
AS
BEGIN
    SET NOCOUNT ON;

    ----------------------------------------------------
    -- CTE: Compute each order's TotalAmount correctly
    ----------------------------------------------------
    WITH OrderTotals AS (
        SELECT 
            o.OrderID,
            SUM(oi.ItemPrice * oi.Quantity - oi.DiscountAmount * oi.Quantity)
                + o.TaxAmount + o.ShipAmount AS TotalAmount
        FROM Orders o
        INNER JOIN OrderItems oi ON o.OrderID = oi.OrderID
        GROUP BY 
            o.OrderID,
            o.TaxAmount,
            o.ShipAmount
    )

    SELECT 
        -- Total customers
        (SELECT COUNT(*) FROM Customers) AS TotalCustomers,

        -- Total vendors (AP DB; replace with 0 if AP not cross-accessible)
        (SELECT COUNT(*) FROM AP.dbo.Vendors) AS TotalVendors,

        -- Active vendors
        (SELECT COUNT(*) FROM AP.dbo.Vendors WHERE IsActive = 1) AS ActiveVendors,

        -- Total products
        (SELECT COUNT(*) FROM Products) AS TotalProducts,

        -- Total sales
        (SELECT SUM(TotalAmount) FROM OrderTotals) AS TotalSales,

        -- Outstanding invoices (AP)
        (SELECT SUM(InvoiceTotal - PaymentTotal - CreditTotal)
         FROM AP.dbo.Invoices
         WHERE InvoiceTotal > (PaymentTotal + CreditTotal)
        ) AS TotalOutstandingInvoices;
END;
GO


