USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[GetFeaturedProducts]    Script Date: 11/12/2025 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/12/2025
-- Description:	Gets featured products
-- exec GetFeaturedProducts
-- =============================================

CREATE PROCEDURE [dbo].[GetFeaturedProducts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 5
        ProductID,
        ProductName,
        ListPrice,
        DiscountPercent
    FROM Products
    WHERE IsActive = 1
    ORDER BY DiscountPercent DESC;
END

