USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[GetProductById]    Script Date: 11/11/2025 4:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Description:	Gets product by ID
-- exec GetProductById @ProductId= 1
-- =============================================

CREATE PROCEDURE [dbo].[GetProductById]
	@ProductId INT
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [ProductID]
      ,[CategoryID]
      ,[ProductCode]
      ,[ProductName]
      ,[Description]
      ,[ListPrice]
      ,[DiscountPercent]
      ,[DateAdded]
	FROM [MyGuitarShop].[dbo].[Products]
	WHERE ProductID = @ProductId;
END
