USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[GetProductsByCategory]    Script Date: 11/12/2025 3:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/12/2025
-- Description:	Gets products by category
-- exec GetProductsByCategory @CategoryID =1
-- =============================================
CREATE PROCEDURE [dbo].[GetProductsByCategory]
    @CategoryID INT
AS
BEGIN
    SELECT 
        ProductID,
        CategoryID,
        ProductCode,
        ProductName,
        Description,
        ListPrice,
        DiscountPercent,
        ImageURL,
        IsActive,
        DateUpdated
    FROM Products
    WHERE CategoryID = @CategoryID
    ORDER BY ProductName;
END
