USE [AP]
GO
/****** Object:  StoredProcedure [dbo].[GetVendorById]    Script Date: 11/11/2025 4:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Description:	Gets vendor by id
-- exec GetVendorById
-- =============================================

CREATE PROCEDURE [dbo].[GetVendorById]
    @VendorID INT
AS
BEGIN
    SELECT VendorID, VendorName, VendorAddress1, VendorAddress2, VendorCity,
           VendorState, VendorZipCode, VendorPhone, VendorContactLName, VendorContactFName,
           DefaultTermsID, DefaultAccountNo, DateUpdated
    FROM Vendors
    WHERE VendorID = @VendorID;
END
