USE [AP]
GO
/****** Object:  StoredProcedure [dbo].[GetVendorDashboard]    Script Date: 11/12/2025 5:24:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/11/2025
-- Description:	Gets vendor dashboard by vendor ID
-- exec GetVendorDashboard @VendorID 124
-- =============================================
CREATE PROCEDURE [dbo].[GetVendorDashboard]
    @VendorID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        v.VendorID,
        v.VendorName,
        v.VendorContactFName,
        v.VendorContactLName,
        v.VendorCity,
        v.VendorState,
        v.VendorPhone,
        v.DateUpdated,

        -- Invoice data (may be NULL)
        i.InvoiceID,
        i.InvoiceNumber,
        i.InvoiceDate,
        i.InvoiceTotal,
        i.PaymentTotal,
        i.CreditTotal,
        i.InvoiceDueDate,
        i.PaymentDate,

        -- Terms (may be NULL)
        t.TermsDescription
    FROM Vendors v
    LEFT JOIN Invoices i ON v.VendorID = i.VendorID
    LEFT JOIN Terms t ON i.TermsID = t.TermsID
    WHERE v.VendorID = @VendorID
    ORDER BY i.InvoiceDate DESC;
END;
GO
