USE [MyGuitarShop]
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 11/11/2025 4:50:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Modified date: 11/19/2025 - Added QuantityOnHand parameter
-- Description:	Updates a product
-- exec UpdateProduct
-- =============================================

CREATE PROCEDURE [dbo].[UpdateProduct]
    @ProductID INT,
    @CategoryID INT,
    @ProductCode VARCHAR(10),
    @ProductName VARCHAR(255),
    @Description VARCHAR(MAX),
    @ListPrice MONEY,
    @DiscountPercent MONEY,
    @ImageURL NVARCHAR(500) = NULL,
    @QuantityOnHand INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Fetch existing values
    DECLARE @ExistingCategoryID INT, @ExistingProductCode VARCHAR(10),
            @ExistingProductName VARCHAR(255), @ExistingDescription VARCHAR(MAX),
            @ExistingListPrice MONEY, @ExistingDiscountPercent MONEY,
            @ExistingImageURL NVARCHAR(500), @ExistingQuantityOnHand INT;
    
    SELECT @ExistingCategoryID = CategoryID,
           @ExistingProductCode = ProductCode,
           @ExistingProductName = ProductName,
           @ExistingDescription = Description,
           @ExistingListPrice = ListPrice,
           @ExistingDiscountPercent = DiscountPercent,
           @ExistingImageURL = ImageURL,
           @ExistingQuantityOnHand = QuantityOnHand
    FROM Products
    WHERE ProductID = @ProductID;

    -- Use provided values, or fall back to existing values
    SET @CategoryID = ISNULL(NULLIF(@CategoryID, 0), @ExistingCategoryID);
    SET @ProductCode = ISNULL(NULLIF(@ProductCode, ''), @ExistingProductCode);
    SET @ProductName = ISNULL(NULLIF(@ProductName, ''), @ExistingProductName);
    SET @Description = ISNULL(NULLIF(@Description, ''), @ExistingDescription);
    SET @ListPrice = ISNULL(NULLIF(@ListPrice, 0), @ExistingListPrice);
    SET @DiscountPercent = ISNULL(NULLIF(@DiscountPercent, 0), @ExistingDiscountPercent);
    SET @ImageURL = ISNULL(NULLIF(@ImageURL, ''), @ExistingImageURL);
    SET @QuantityOnHand = ISNULL(@QuantityOnHand, @ExistingQuantityOnHand);

    -- Update product
    UPDATE [dbo].[Products]
	SET [CategoryID] = @CategoryID,
		[ProductCode] = @ProductCode,
		[ProductName] = @ProductName,
		[Description] = @Description,
		[ListPrice] = @ListPrice,
		[DiscountPercent] = @DiscountPercent,
		[ImageURL] = @ImageURL,
		[QuantityOnHand] = @QuantityOnHand,
		[DateUpdated] = CURRENT_TIMESTAMP
	WHERE ProductID = @ProductID

    -- Return the updated product using existing GET procedure
    EXEC GetProductById @ProductId = @ProductID
END
