USE [AP]
GO
/****** Object:  StoredProcedure [dbo].[UpdateVendor]    Script Date: 11/11/2025 4:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Leena Komenski
-- Create date: 11/5/2025
-- Description:	Updates vendor
-- exec UpdateVendor @VendorID=124, @VendorName='New Name', @VendorAddress1='123 New St', @VendorCity='New City', @VendorState='NS', @VendorZipCode='12345', @VendorPhone='123-456-7890', @VendorContactLName='Doe', @VendorContactFName='John', @DefaultTermsID=1, @DefaultAccountNo=1001, @IsActive=1
-- =============================================

CREATE PROCEDURE [dbo].[UpdateVendor]
    @VendorID INT,
    @VendorName NVARCHAR(100),
    @VendorAddress1 NVARCHAR(100),
    @VendorAddress2 NVARCHAR(100) = NULL,
    @VendorCity NVARCHAR(50),
    @VendorState NVARCHAR(50),
    @VendorZipCode NVARCHAR(20),
    @VendorPhone NVARCHAR(20),
    @VendorContactLName NVARCHAR(50),
    @VendorContactFName NVARCHAR(50),
    @DefaultTermsID INT,
    @DefaultAccountNo INT,
    @IsActive BIT
AS
BEGIN
    -- Fetch existing values
    DECLARE @ExistingVendorName NVARCHAR(100), @ExistingVendorAddress1 NVARCHAR(100),
            @ExistingVendorAddress2 NVARCHAR(100), @ExistingVendorCity NVARCHAR(50),
            @ExistingVendorState NVARCHAR(50), @ExistingVendorZipCode NVARCHAR(20),
            @ExistingVendorPhone NVARCHAR(20), @ExistingVendorContactLName NVARCHAR(50),
            @ExistingVendorContactFName NVARCHAR(50), @ExistingDefaultTermsID INT,
            @ExistingDefaultAccountNo INT, @ExistingIsActive BIT;
    
    SELECT @ExistingVendorName = VendorName,
           @ExistingVendorAddress1 = VendorAddress1,
           @ExistingVendorAddress2 = VendorAddress2,
           @ExistingVendorCity = VendorCity,
           @ExistingVendorState = VendorState,
           @ExistingVendorZipCode = VendorZipCode,
           @ExistingVendorPhone = VendorPhone,
           @ExistingVendorContactLName = VendorContactLName,
           @ExistingVendorContactFName = VendorContactFName,
           @ExistingDefaultTermsID = DefaultTermsID,
           @ExistingDefaultAccountNo = DefaultAccountNo,
           @ExistingIsActive = IsActive
    FROM Vendors
    WHERE VendorID = @VendorID;

    -- Use provided values, or fall back to existing values
    SET @VendorName = ISNULL(NULLIF(@VendorName, ''), @ExistingVendorName);
    SET @VendorAddress1 = ISNULL(NULLIF(@VendorAddress1, ''), @ExistingVendorAddress1);
    SET @VendorAddress2 = ISNULL(NULLIF(@VendorAddress2, ''), @ExistingVendorAddress2);
    SET @VendorCity = ISNULL(NULLIF(@VendorCity, ''), @ExistingVendorCity);
    SET @VendorState = ISNULL(NULLIF(@VendorState, ''), @ExistingVendorState);
    SET @VendorZipCode = ISNULL(NULLIF(@VendorZipCode, ''), @ExistingVendorZipCode);
    SET @VendorPhone = ISNULL(NULLIF(@VendorPhone, ''), @ExistingVendorPhone);
    SET @VendorContactLName = ISNULL(NULLIF(@VendorContactLName, ''), @ExistingVendorContactLName);
    SET @VendorContactFName = ISNULL(NULLIF(@VendorContactFName, ''), @ExistingVendorContactFName);
    SET @DefaultTermsID = ISNULL(NULLIF(@DefaultTermsID, 0), @ExistingDefaultTermsID);
    SET @DefaultAccountNo = ISNULL(NULLIF(@DefaultAccountNo, 0), @ExistingDefaultAccountNo);
    -- For BIT fields, use existing if NULL
    IF @IsActive IS NULL
        SET @IsActive = @ExistingIsActive;

    -- Update vendor
    UPDATE Vendors
    SET VendorName = @VendorName,
        VendorAddress1 = @VendorAddress1,
        VendorAddress2 = @VendorAddress2,
        VendorCity = @VendorCity,
        VendorState = @VendorState,
        VendorZipCode = @VendorZipCode,
        VendorPhone = @VendorPhone,
        VendorContactLName = @VendorContactLName,
        VendorContactFName = @VendorContactFName,
        DefaultTermsID = @DefaultTermsID,
        DefaultAccountNo = @DefaultAccountNo,
        IsActive = @IsActive,
		DateUpdated = CURRENT_TIMESTAMP
    WHERE VendorID = @VendorID;

    -- Return the updated vendor using existing GET procedure
    EXEC GetVendorById @VendorID = @VendorID;
END
